<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/ponloss_table.css">
</head>

<body>

    
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/homepage"><img src="/logo.png" class="rounded mx-auto d-block" alt="..."></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user_search">Search Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Trunk Report
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/trunkreport">Trunk Form</a></li>
              <li><a class="dropdown-item" href="/showtable">Trunk Table</a></li>
              <li><a class="dropdown-item" href="/update_trunktable">Update Trunk Table</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PON LOSS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/ponloss_report">PonLoss Form</a></li>
              <li><a class="dropdown-item" href="/ponloss_table">PonLoss Table</a></li>
              <li><a class="dropdown-item" href="/update_ponlosstable">Update PonLoss Table</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/import">Import</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#"> <%= user.username %> </a></li>
              <li><a class="dropdown-item" href="/signup">SignUp</a></li>
              <li><a class="dropdown-item" href="/logout">LogOut</a></li>
            </ul>
          </li>        

        </ul>
      </div>
    </div>
  </nav>


  <div class="main">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form action="/ponloss_table/search-pon-report" method="GET">

          <input type="search" class="form-control m-4 shadow bg-body rounded" name="issue_escalated_in_ms" placeholder="Issue Escalated to MS" autofocus required id="id="issue_escalated_in_ms">

            <div class="button">
              <button class="button-56" type="submit" value="Search">
                Search
              </button>
            </div>
        </form>
      </div>
    </div>

    <div class="table-title">
      <div class="title">
        <h1>Ponloss Report Result</h1>
      </div>
    </div>

    <div class="button" style="margin-top: 20px;
    margin-bottom: 12px;">
      <form action="/ponloss_table/exp" method="GET">
        <button class="button-55" type="submit">Export</button>
      </form>
    </div>
    <div id="pagination-container" class="pagination-container"></div>
    <div class="table">
      <table id="myTable" class="table table-hover align-middle mt-4">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Ticket No</th>
            <th>ODN</th>
            <th>Incident Details</th>
            <th>Incident Category</th>
            <th>Issue Occured in System</th>
            <th>Issue Escalated to MS</th>
            <th>Customer Impacted</th>
            <th>Otech Email Confirmation</th>
            <th>Reason for Outage</th>
            <th>Down Time</th>
          </tr>
        </thead>
        <tbody>
          <%  for (var i=0; i < data.length; i++) { %>
          <tr>
            <td>
              <%= data[i]['S. No.'] %>              
            </td>
  
            <td>
              <%= data[i]['Case Ticket No'] %>
            </td>
  
            <td>
              <%= data[i]['ODN'] %>
            </td>
  
            <td>
              <%= data[i]['Incident Details'] %>
            </td>
  
            <td>
              <%= data[i]['Incident Category'] %>
            </td>
  
            <td>
              <%= data[i]['Issue Occurred in AMS/System'] %>
            </td>
  
            <td>
              <%= data[i]['Issue Escalated to MS'] %>
            </td>
  
            <td>
              <%= data[i]['Number of Customer Impacted'] %>
            </td>
  
            <td>
              <%= data[i]['Issue Resolved by otech (Email confirmation)'] %>
            </td>
  
            <td>
              <%= data[i]['Reason for Outage (Otech)'] %>
            </td>
  
            <td>
              <%= data[i]['Ponloss Down Time'] %>
            </td>
          </tr>  
          <% } %>
          
        </tbody>
      </table>
    </div>

  </div>





<!-- Add the following scripts at the end of the body tag -->
<script src="/ponloss_table.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
